/* ------------- Acessets ------------- */
.icon{
	max-width: 40px;
	max-height: 40px;
	position: relative;
	margin: 10px;
}
.botao{
	position: relative;
	width: 200px;
	height: 50px;
	border-radius: 15px;
	margin: 10px;
	color: #f1f1f1;
	background-color: #2041ff;
}
/* -------- PAGINA DE LOGIN -------------- */
.login-body{
	margin:0;
	font:600 16px/18px 'Open Sans',sans-serif;
}
*,:after,:before{box-sizing:border-box}
.clearfix:after,.clearfix:before{content:'';display:table}
.clearfix:after{clear:both;display:block}
a{color:inherit;text-decoration:none}

h1{
    text-align: center;
}
.img-lg{
    position: relative;
    margin: 10px;
    box-sizing: border-box;
    width: 200px;
    height: 150px;
}
.login-wrap{
    border-radius: 10%;
	width:100%;
	margin:auto;
	max-width:525px;
	min-height:670px;
	position:relative;
	background:url(https://www.amino.com.br/wp-content/uploads/2024/07/viscoelastico.jpg) no-repeat center;
	box-shadow:0 12px 15px 0 rgba(0,0,0,.24),0 17px 50px 0 rgba(0,0,0,.19);
}
.login-html{
    border-radius: 10%;
	width:100%;
	height:100%;
	position:absolute;
	padding:90px 70px 50px 70px;
	background:rgba(40, 57, 101, 0.596);

}
.login-html .sign-in-htm,
.login-html .sign-up-htm{
	top:0;
	left:0;
	right:0;
	bottom:0;
	position:absolute;
	transform:rotateY(180deg);
	backface-visibility:hidden;
	transition:all .4s linear;
}
.login-html .sign-in,
.login-html .sign-up,
.login-form .group .check{
	display:none;
}
.login-html .tab,
.login-form .group .label,
.login-form .group .button{
	text-transform:uppercase;
}
.login-html .tab{
	font-size:22px;
	margin-right:15px;
	padding-bottom:5px;
	margin:0 15px 10px 0;
	display:inline-block;
	border-bottom:2px solid transparent;
}
.login-html .sign-in:checked + .tab,
.login-html .sign-up:checked + .tab{
	color:#fff;
	border-color:#1161ee;
}
.login-form{
	min-height:345px;
	position:relative;
	perspective:1000px;
	transform-style:preserve-3d;
}
.login-form .group{
	margin-bottom:15px;
}
.login-form .group .label,
.login-form .group .input,
.login-form .group .button{
	width:100%;
	color:#fff;
	display:block;
}
.login-form .group .input,
.login-form .group .button{
	border:none;
	padding:15px 20px;
	border-radius:25px;
	background:rgba(255,255,255,.1);
}
.login-form .group input[data-type="password"]{
	text-security:circle;
	-webkit-text-security:circle;
}
.login-form .group .label{
	color:#aaa;
	font-size:12px;
}
.login-form .group .button{
	background:#1161ee;
}
.login-form .group label .icon{
	width:15px;
	height:15px;
	border-radius:2px;
	position:relative;
	display:inline-block;
	background:rgba(255,255,255,.1);
}
.login-form .group label .icon:before,
.login-form .group label .icon:after{
	content:'';
	width:10px;
	height:2px;
	background:#fff;
	position:absolute;
	transition:all .2s ease-in-out 0s;
}
.login-form .group label .icon:before{
	left:3px;
	width:5px;
	bottom:6px;
	transform:scale(0) rotate(0);
}
.login-form .group label .icon:after{
	top:6px;
	right:0;
	transform:scale(0) rotate(0);
}
.login-form .group .check:checked + label{
	color:#fff;
}
.login-form .group .check:checked + label .icon{
	background:#1161ee;
}
.login-form .group .check:checked + label .icon:before{
	transform:scale(1) rotate(45deg);
}
.login-form .group .check:checked + label .icon:after{
	transform:scale(1) rotate(-45deg);
}
.login-html .sign-in:checked + .tab + .sign-up + .tab + .login-form .sign-in-htm{
	transform:rotate(0);
}
.login-html .sign-up:checked + .tab + .login-form .sign-up-htm{
	transform:rotate(0);
}

.hr{
	height:2px;
	margin:60px 0 50px 0;
	background:rgba(255,255,255,.2);
}
.foot-lnk{
	text-align:center;
}
/*  ------------------ FIM PAGINA DA LOGIN ----------------------- */

/* ---------------- Menu ---------------------------- */
body{
	margin:0;
	color:#2041ff;
	background:#6c6f7e;
	font:600 16px/18px 'Open Sans',sans-serif;
}
.sidenav {
	height: 100%;
	width: 0;
	position: fixed;
	z-index: 1;
	top: 0;
	left: 0;
	background-color: #ffffff;
	overflow-x: hidden;
	transition: 0.5s;
	padding-top: 60px;
  }
  
  .sidenav a {
	padding: 8px 8px 8px 32px;
	text-decoration: none;
	font-size: 18px;
	color: #818181;
	display: block;
	transition: 0.3s;
  }
  
  .sidenav a:hover {
	color: #f1f1f1;
  }
  
  .sidenav .closebtn {
	position: absolute;
	top: 0;
	right: 25px;
	font-size: 36px;
	margin-left: 50px;
  }
  
  #main {
	transition: margin-left .5s;
	width: auto;
	background-color: #aaa;
	padding: 16px;
  }
  
  @media screen and (max-height: 450px) {
	.sidenav {padding-top: 15px;}
	.sidenav a {font-size: 18px;}
  }
  /* ------------------- Fim Menu ---------------------- */
  /* foda-se tudo - boa sorte pra quem for mexer nessa porra */
  /* ---------------------- Home ------------------------ */
  .home-header{
	margin: 5px;
	height: 40%;
	max-width: 100%;
	background-image: url(https://www.amino.com.br/wp-content/uploads/2022/07/espuma-poliuretano-amino-5.jpg);
	border-radius: 10px;
	border-color: #05377c;
	border-style: solid;
	

  }
  .home-body{
	float: none;
	display: grid;
	grid-gap:5px;
	grid-template-columns: auto;
	grid-template-rows: auto;
	margin-top: 5px;
	margin-left: 5px;
	margin-right: 5px;
	max-width: 100%;
	border-radius:10px 10px 0 0 ;
	background-color: #ffffff;
  }
  .item-1{
	border: solid black;
	border-radius: 10px;
	grid-area: 1/1/7/1;
  }
  .item-2{
	border: solid black;
	border-radius: 10px;
	grid-area: 1/2/2/4;
  }
  .item-3{
	border: solid black;
	border-radius: 10px;
	grid-area: 2/2/2/4;
  }
  .item-4{
	border: solid black;
	border-radius: 10px;
	grid-area: 3/2/3/4;
  }
  .item-5{
	border: solid black;
	border-radius: 10px;
	grid-area: 4/2/7/3;
  }
  .item-6{
	border: solid black;
	border-radius: 10px;
	grid-area: 4/3/7/4;
  }
  .item-7{
	border: solid black;
	border-radius: 10px;
	grid-area: 7/1/7/4;
  }
  .home-footer{
	margin-bottom: 5px;
	margin-left: 5px;
	margin-right: 5px;
	max-width: 100%;
	height: 100px;
	background-color: #05377c;
  }
  h4{
	text-align: center;
  }
  /* ------------------- Componetes  Noticias ----------------- */
  #noticia-titulo{
	margin: 3px;
	font: optional;
	font-size: 50px;
	color: #05377c;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	font-style: italic;
	float: none;
  }
  .icon-prod{
	max-width: 120px;
	max-height: 120px;
	position:relative;
	border-radius: 50%;
  }
  .lista-prod{
	padding: 10px;
	overflow: auto;                         /* Adiciona a scrollbar ao item */
	height: 500px;     
  }
  .prod-item{
	margin: 10px;
	font-size: 25px;
  }
.prod-desc{
	position: relative;
	margin: 10px;
	padding-left: 110px;
}
