/* ------------- Acessets ------------- */
.icon{
	max-width: 40px;
	max-height: 40px;
	position: relative;
	margin: 10px;
}
.botao{
	position: relative;
	width: 200px;
	height: 50px;
	border-radius: 15px;
	margin: 10px;
	color: #f1f1f1;
	background-color: #2041ff;
}
/* -------- PAGINA DE LOGIN -------------- */
body{
	margin:0;
	color:#000000;
	background:#ffffff;
	font:600 16px/18px;
}
*,:after,:before{box-sizing:border-box}
.clearfix:after,.clearfix:before{content:'';display:table}
.clearfix:after{clear:both;display:block}
a{color:inherit;text-decoration:none}

h1{
    text-align: center;
}
.img-lg{
    position: relative;
    margin: 10px;
    box-sizing: border-box;
    width: 200px;
    height: 150px;
}
.login-wrap{
    border-radius: 10%;
	width:100%;
	margin:auto;
	max-width:525px;
	min-height:670px;
	position:relative;
	background:url(https://www.amino.com.br/wp-content/uploads/2024/07/viscoelastico.jpg) no-repeat center;
	box-shadow:0 12px 15px 0 rgba(0,0,0,.24),0 17px 50px 0 rgba(0,0,0,.19);
}
.login-html{
    border-radius: 10%;
	width:100%;
	height:100%;
	position:absolute;
	padding:90px 70px 50px 70px;
	background:rgba(40, 57, 101, 0.596);

}
.login-html .sign-in-htm,
.login-html .sign-up-htm{
	top:0;
	left:0;
	right:0;
	bottom:0;
	position:absolute;
	transform:rotateY(180deg);
	backface-visibility:hidden;
	transition:all .4s linear;
}
.login-html .sign-in,
.login-html .sign-up,
.login-form .group .check{
	display:none;
}
.login-html .tab,
.login-form .group .label,
.login-form .group .button{
	text-transform:uppercase;
}
.login-html .tab{
	font-size:22px;
	margin-right:15px;
	padding-bottom:5px;
	margin:0 15px 10px 0;
	display:inline-block;
	border-bottom:2px solid transparent;
}
.login-html .sign-in:checked + .tab,
.login-html .sign-up:checked + .tab{
	color:#fff;
	border-color:#1161ee;
}
.login-form{
	min-height:345px;
	position:relative;
	perspective:1000px;
	transform-style:preserve-3d;
}
.login-form .group{
	margin-bottom:15px;
}
.login-form .group .label,
.login-form .group .input,
.login-form .group .button{
	width:100%;
	color:#fff;
	display:block;
}
.login-form .group .input,
.login-form .group .button{
	border:none;
	padding:15px 20px;
	border-radius:25px;
	background:rgba(255,255,255,.1);
}
.login-form .group input[data-type="password"]{
	text-security:circle;
	-webkit-text-security:circle;
}
.login-form .group .label{
	color:#aaa;
	font-size:12px;
}
.login-form .group .button{
	background:#1161ee;
}
.login-form .group label .icon{
	width:15px;
	height:15px;
	border-radius:2px;
	position:relative;
	display:inline-block;
	background:rgba(255,255,255,.1);
}
.login-form .group label .icon:before,
.login-form .group label .icon:after{
	content:'';
	width:10px;
	height:2px;
	background:#fff;
	position:absolute;
	transition:all .2s ease-in-out 0s;
}
.login-form .group label .icon:before{
	left:3px;
	width:5px;
	bottom:6px;
	transform:scale(0) rotate(0);
}
.login-form .group label .icon:after{
	top:6px;
	right:0;
	transform:scale(0) rotate(0);
}
.login-form .group .check:checked + label{
	color:#fff;
}
.login-form .group .check:checked + label .icon{
	background:#1161ee;
}
.login-form .group .check:checked + label .icon:before{
	transform:scale(1) rotate(45deg);
}
.login-form .group .check:checked + label .icon:after{
	transform:scale(1) rotate(-45deg);
}
.login-html .sign-in:checked + .tab + .sign-up + .tab + .login-form .sign-in-htm{
	transform:rotate(0);
}
.login-html .sign-up:checked + .tab + .login-form .sign-up-htm{
	transform:rotate(0);
}

.hr{
	height:2px;
	margin:60px 0 50px 0;
	background:rgba(255,255,255,.2);
}
.foot-lnk{
	text-align:center;
}
/*  ------------------ FIM PAGINA DA LOGIN ----------------------- */

/* ---------------- Menu ---------------------------- */
.sidenav {
	height: 100%;
	width: 0;
	position: fixed;
	z-index: 1;
	top: 0;
	left: 0;
	background-color: #ffffff;
	overflow-x: hidden;
	transition: 0.5s;
	padding-top: 60px;
  }
  
  .sidenav a {
	padding: 8px 8px 8px 32px;
	text-decoration: none;
	font-size: 18px;
	color: #818181;
	display: block;
	transition: 0.3s;
  }
  
  .sidenav a:hover {
	color: #f1f1f1;
  }
  
  .sidenav .closebtn {
	position: absolute;
	top: 0;
	right: 25px;
	font-size: 36px;
	margin-left: 50px;
  }
  
  #main {
	transition: margin-left .5s;
	background-color: #ffffff;
	padding: 16px;
  }
  
  @media screen and (max-height: 450px) {
	.sidenav {padding-top: 15px;}
	.sidenav a {font-size: 18px;}
  }
  /* ------------------- Fim Menu ---------------------- */
  /* foda-se tudo - boa sorte pra quem for mexer nessa porra */
  /* ---------------------- Home ------------------------ */
  .home-header{
	margin: 5px;
	height: 40%;
	max-width: 100%;
	background-color: #003366;
	color: white;
	padding: 20px;
	text-align: center;
	

  }
  .home-body {
    text-align: center;
    display: grid;
    grid-gap: 20px; /* Maior espaço entre os blocos */
    grid-template-columns: 2fr 1fr; /* Proporção melhorada para as colunas */
    grid-template-rows: auto; /* Ajusta a altura automaticamente */
    margin: 20px; /* Maior margem para espaçamento */
    width: 100%;
    height: auto; /* Deixa a altura automática, ajustando conforme o conteúdo */
    border-radius: 10px 10px 0 0;
    background-color: #ffffff;
    padding: 20px; /* Espaçamento interno para os itens */
    box-shadow: 0 4px 8px rgba(0,0,0,0.1); /* Sombra leve para dar profundidade */
}

.item-1 {
    border: 1px solid black;
    border-radius: 10px;
    grid-column: 1 / 2; /* Ocupa a primeira coluna */
    grid-row: 1; /* Primeira linha */
    padding: 20px; /* Espaçamento interno */
    background-color: #f8f8f8; /* Fundo claro para destaque */
    box-shadow: 0 2px 4px rgba(0,0,0,0.1); /* Sombra para o card */
	max-height: 650px;
}

.item-2 {
    border: 1px solid black;
    border-radius: 10px;
    grid-column: 2 / 3; /* Ocupa a segunda coluna */
    grid-row: 1 / 3; /* Ocupa a altura de 2 linhas */
    padding: 20px; /* Espaçamento interno */
    background-color: #f8f8f8; /* Fundo claro para destaque */
    box-shadow: 0 2px 4px rgba(0,0,0,0.1); /* Sombra para o card */
	float: left;
}

.item-3 {
    border: 1px solid black;
    border-radius: 10px;
    grid-column: 1 / 2; /* Ocupa a primeira coluna */
    grid-row: 2 / 3; /* Primeira linha */
    padding: 20px; /* Espaçamento interno */
    background-color: #f8f8f8; /* Fundo claro para destaque */
    box-shadow: 0 2px 4px rgba(0,0,0,0.1); /* Sombra para o card */
}

@media screen and (max-width: 500px) {
	.home-body{
		margin: 5px;
		max-width: 100%;
	}
	.home-body #noticia-titulo{
		font-size: 30px;
	}
	.item-2{
		grid-column: 1 / 2; /* Ocupa a segunda coluna */
		grid-row: 2 / 3; /* Ocupa a altura de 2 linhas */
	}
	.item-3{
		grid-column: 1 / 2; /* Ocupa a segunda coluna */
		grid-row: 3 / 4; /* Ocupa a altura de 2 linhas */
	}
}
.news-card {
    margin-bottom: 20px; /* Espaçamento entre os cards */
    background-color: white;
    border-radius: 10px;
    border: 1px solid #ddd;
    padding: 15px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.news-card img {
    width: 100%;
    border-radius: 10px;
    margin-bottom: 10px;
}

.news-card-content h3 {
    font-size: 1.5em;
    margin-bottom: 10px;
}

.news-card-content p {
    font-size: 1em;
    color: #555;
}

.news-card-content a {
    display: inline-block;
    margin-top: 10px;
    color: #007bff;
    text-decoration: none;
}

.news-card-content a:hover {
    text-decoration: underline;
}
  .home-footer{
	margin-bottom: 5px;
	margin-left: 5px;
	margin-right: 5px;
	max-width: 100%;
	height: 150px;
	background-color: #003366;
	text-align: center;
	font-size: 30px;
	font-family: sans-serif;
	color: #ffffff;
  }
  h4{
	text-align: center;
  }
  /* ------------------- Componetes  Noticias ----------------- */
  #noticia-titulo{
	margin: 3px;
	font: optional;
	font-size: 50px;
	color: #05377c;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	font-style: italic;
	float: none;
  }
  .icon-prod{
	max-width: 120px;
	max-height: 120px;
	position:relative;
	border-radius: 50%;
  }
  .lista-prod{
	padding: 10px;
	overflow: auto;                         /* Adiciona a scrollbar ao item */
	height: 500px;     
	text-align: left;
  }
  .prod-item{
	margin: 10px;
	font-size: 25px;
  }
.prod-desc{
	position: relative;
	margin: 10px;
	padding-left: 110px;
}
.formula-item{
	border: 1px #a1a1a1;
	border-style: solid;
	border-radius: 10px;
	box-shadow: #007bff;
	margin: 10px;
}
#formula-desc{
	margin: 5px;
	font-size: 15px;
}
.form-header{
	margin: 5px;
	height: 40%;
	max-width: 100%;
	background-color: #003366;
	color: white;
	padding: 20px;
	text-align: center;
}
.mySlides {
	display:none;
	width: 700px;
	max-height: 500px;
    margin: 5px;
    border-radius: 2%;
}
