/* ------------- Acessets ------------- */
.icon{
	max-width: 40px;
	max-height: 40px;
	position: relative;
	margin: 10px;
}
.botao{
	position: relative;
	width: 200px;
	height: 50px;
	border-radius: 15px;
	margin: 10px;
	color: #f1f1f1;
	background-color: #003366;
	font-size: 20px;
}
#bt-home{
	margin: 5px;
	height: 30px;
	width: 50px;
	border-radius: 10px;
	background-color: #003366;
	color: #ffffff;
}
#icon-chat {
    position: fixed; /* Para manter o ícone fixo no canto */
    bottom: 20px;
    right: 20px;
    font-size: 32px; /* Ajuste para que o ícone fique maior no mobile */

    z-index: 1000; /* Para garantir que o ícone não fique atrás de outros elementos */
    transition: transform 0.3s; /* Animação suave ao interagir */
}

#icon-chat:hover {
    transform: scale(1.1); /* Aumenta o ícone ao passar o mouse */
}
/* -------- PAGINA DE LOGIN -------------- */
body{
	margin:0;
	color:#000000;
	background-image: url(https://i.pinimg.com/originals/c7/db/af/c7dbafe954111384b98145b0f5842be2.gif);
	font:600 16px/18px;
	font-family: sans-serif;;
}
*,:after,:before{box-sizing:border-box}
.clearfix:after,.clearfix:before{content:'';display:table}
.clearfix:after{clear:both;display:block}
a{color:inherit;text-decoration:none}

h1{
    text-align: center;
}
.img-lg{
    position: relative;
    margin: 10px;
    box-sizing: border-box;
    width: 200px;
    height: 150px;
}
.login-wrap{
    border-radius: 10%;
	width:100%;
	margin:auto;
	max-width:525px;
	min-height:670px;
	position:relative;
	background:url(https://www.amino.com.br/wp-content/uploads/2024/07/viscoelastico.jpg) no-repeat center;
	box-shadow:0 12px 15px 0 rgba(0,0,0,.24),0 17px 50px 0 rgba(0,0,0,.19);
}
.login-html{
    border-radius: 10%;
	width:100%;
	height:100%;
	position:absolute;
	padding:90px 70px 50px 70px;
	background:rgba(40, 57, 101, 0.596);

}
.login-html .sign-in-htm,
.login-html .sign-up-htm{
	top:0;
	left:0;
	right:0;
	bottom:0;
	position:absolute;
	transform:rotateY(180deg);
	backface-visibility:hidden;
	transition:all .4s linear;
}
.login-html .sign-in,
.login-html .sign-up,
.login-form .group .check{
	display:none;
}
.login-html .tab,
.login-form .group .label,
.login-form .group .button{
	text-transform:uppercase;
}
.login-html .tab{
	font-size:22px;
	margin-right:15px;
	padding-bottom:5px;
	margin:0 15px 10px 0;
	display:inline-block;
	border-bottom:2px solid transparent;
}
.login-html .sign-in:checked + .tab,
.login-html .sign-up:checked + .tab{
	color:#fff;
	border-color:#1161ee;
}
.login-form{
	min-height:345px;
	position:relative;
	perspective:1000px;
	transform-style:preserve-3d;
}
.login-form .group{
	margin-bottom:15px;
}
.login-form .group .label,
.login-form .group .input,
.login-form .group .button{
	width:100%;
	color:#fff;
	display:block;
}
.login-form .group .input,
.login-form .group .button{
	border:none;
	padding:15px 20px;
	border-radius:25px;
	background:rgba(255,255,255,.1);
}
.login-form .group input[data-type="password"]{
	/*text-security:circle;*/
	-webkit-text-security:circle;
}
.login-form .group .label{
	color:#aaa;
	font-size:12px;
}
.login-form .group .button{
	background:#1161ee;
}
.login-form .group label .icon{
	width:15px;
	height:15px;
	border-radius:2px;
	position:relative;
	display:inline-block;
	background:rgba(255,255,255,.1);
}
.login-form .group label .icon:before,
.login-form .group label .icon:after{
	content:'';
	width:10px;
	height:2px;
	background:#fff;
	position:absolute;
	transition:all .2s ease-in-out 0s;
}
.login-form .group label .icon:before{
	left:3px;
	width:5px;
	bottom:6px;
	transform:scale(0) rotate(0);
}
.login-form .group label .icon:after{
	top:6px;
	right:0;
	transform:scale(0) rotate(0);
}
.login-form .group .check:checked + label{
	color:#fff;
}
.login-form .group .check:checked + label .icon{
	background:#1161ee;
}
.login-form .group .check:checked + label .icon:before{
	transform:scale(1) rotate(45deg);
}
.login-form .group .check:checked + label .icon:after{
	transform:scale(1) rotate(-45deg);
}
.login-html .sign-in:checked + .tab + .sign-up + .tab + .login-form .sign-in-htm{
	transform:rotate(0);
}
.login-html .sign-up:checked + .tab + .login-form .sign-up-htm{
	transform:rotate(0);
}

.hr{
	height:2px;
	margin:60px 0 50px 0;
	background:rgba(255,255,255,.2);
}
.foot-lnk{
	text-align:center;
}
/*  ------------------ FIM PAGINA DA LOGIN ----------------------- */

/* ---------------- Menu ---------------------------- */
.sidenav {
	height: 100%;
	width: 0;
	position: fixed;
	z-index: 1;
	top: 0;
	left: 0;
	background-color: #ffffff;
	overflow-x: hidden;
	transition: 0.5s;
	padding-top: 60px;
  }
  
  .sidenav a {
	transition: background-color 0.3s ease;
	padding: 8px 8px 8px 32px;
	text-decoration: none;
	font-size: 18px;
	color: #818181;
	display: block;
	transition: 0.3s;
  }
  
  .sidenav a:hover {
	color: #f1f1f1;
  }
  
  .sidenav .closebtn {
	position: absolute;
	top: 0;
	right: 25px;
	font-size: 36px;
	margin-left: 50px;
  }
  
  #main {
	font-size: 16px;
    line-height: 1.6;
	transition: margin-left .5s;
	background-color: #ffffff;
  }

  /* ------------------- Fim Menu ---------------------- */
  /* foda-se tudo - boa sorte pra quem for mexer nessa porra */
  /* ---------------------- Home ------------------------ */
  .home-header{
	margin: 5px;
	height: 200px;
	max-width: 100%;
	background-color: #003366;
	color: white;
	padding: 20px;
	text-align: center;
	

  }
  .home-body {
	min-height: 600px;
    text-align: center;
    display: grid;
    grid-gap: 20px; /* Maior espaço entre os blocos */
    grid-template-columns: 2fr 1fr; /* Proporção melhorada para as colunas */
    grid-template-rows: auto; /* Ajusta a altura automaticamente */
    margin: 0px; /* Maior margem para espaçamento */
    width: 100%;
    height: auto; /* Deixa a altura automática, ajustando conforme o conteúdo */
    border-radius: 10px 10px 0 0;
    background-color: #ffffff;
    padding: 20px; /* Espaçamento interno para os itens */
    box-shadow: 0 4px 8px rgba(0,0,0,0.1); /* Sombra leve para dar profundidade */
}

.item-1 {
    border: 1px solid black;
    border-radius: 10px;
    grid-column: 1 / 2; /* Ocupa a primeira coluna */
    grid-row: 1; /* Primeira linha */
    padding: 20px; /* Espaçamento interno */
    background-color: #f8f8f8; /* Fundo claro para destaque */
    box-shadow: 0 2px 4px rgba(0,0,0,0.1); /* Sombra para o card */
	max-height: 650px;
}

.item-2 {
    border: 1px solid black;
    border-radius: 10px;
    grid-column: 2 / 3; /* Ocupa a segunda coluna */
    grid-row: 1 / 3; /* Ocupa a altura de 2 linhas */
    padding: 20px; /* Espaçamento interno */
    background-color: #f8f8f8; /* Fundo claro para destaque */
    box-shadow: 0 2px 4px rgba(0,0,0,0.1); /* Sombra para o card */
	float: left;
}

.item-3 {
    border: 1px solid black;
    border-radius: 10px;
    grid-column: 1 / 2; /* Ocupa a primeira coluna */
    grid-row: 2 / 3; /* Primeira linha */
    padding: 20px; /* Espaçamento interno */
    background-color: #f8f8f8; /* Fundo claro para destaque */
    box-shadow: 0 2px 4px rgba(0,0,0,0.1); /* Sombra para o card */
}

.news-card {
    margin-bottom: 20px; /* Espaçamento entre os cards */
    background-color: white;
    border-radius: 10px;
    border: 1px solid #ddd;
    padding: 15px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.news-card img {
    width: 100%;
    border-radius: 10px;
    margin-bottom: 10px;
}

.news-card-content h3 {
    font-size: 1.5em;
    margin-bottom: 10px;
}

.news-card-content p {
    font-size: 1em;
    color: #555;
}

.news-card-content a {
    display: inline-block;
    margin-top: 10px;
    color: #007bff;
    text-decoration: none;
}

.news-card-content a:hover {
    text-decoration: underline;
}
  .home-footer{
	margin-bottom: 5px;
	margin-left: 5px;
	margin-right: 5px;
	max-width: 100%;
	height: 150px;
	background-color: #003366;
	text-align: center;
	font-size: 20px;
	font-family: sans-serif;
	color: #ffffff;
  }
  h4{
	text-align: center;
  }
  /* --------------------------------- X -------------------------- */
  /* ------------------- Componetes  Noticias ----------------- */
  #noticia-titulo{
	margin: 3px;
	font: optional;
	font-size: 50px;
	color: #05377c;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	font-style: italic;
	float: none;
  }
  .icon-prod{
	max-width: 120px;
	max-height: 120px;
	position:relative;
	border-radius: 50%;
  }
  .lista-prod{
	padding: 10px;
	overflow: auto;                         /* Adiciona a scrollbar ao item */
	height: 500px;     
	text-align: left;
  }
  .prod-item{
	margin: 10px;
	font-size: 25px;
  }
.prod-desc{
	position: relative;
	margin: 10px;
	padding-left: 110px;
}
.formula-item{
	border: 1px #a1a1a1;
	border-style: solid;
	border-radius: 10px;
	box-shadow: #007bff;
	margin: 10px;
}
#formula-desc{
	margin: 5px;
	font-size: 15px;
}
.form-header{
	margin: 5px;
	height: 40%;
	max-width: 100%;
	background-color: #003366;
	color: white;
	padding: 20px;
	text-align: center;
}
.mySlides {
	display:none;
	width: 700px;
	max-height: 500px;
    margin: 5px;
    border-radius: 2%;
}
.titulo-header{
	font-size:50px;
	text-align: center;
}
/* ------------------------------ X ---------------------------------- */
/* ----------- Responsividade home para telas menores que 750 pixels (Celulares) ----------------- */
@media screen and (max-width: 750px) { 
	.sidenav {
		padding-top: 15px;
	}
	.sidenav a {
		font-size: 15px;
	}
	.home-body{
		margin: 5px;
		max-width: 100%;
	}
	.home-body #noticia-titulo{
		font-size: 30px;
	}
	.titulo-header{
		text-align: center;
		font-size: 175%;
		margin: 12% 0;
	}
	.item-1{
		grid-column: 1 / 3; /* Ocupa a primeira e a segunda coluna*/
   		grid-row: 1; /* Primeira linha */
	}
	.item-2{
		grid-column: 1 / 3; /* Ocupa a primeira e a segunda coluna*/
		grid-row: 2 / 3; /* Ocupa a altura de 2 linhas */
	}
	.item-3{
		grid-column: 1 / 3; /* Ocupa a primeira e a segunda coluna*/
		grid-row: 3 / 4; /* Ocupa a altura de 2 linhas */
	}
	.home-footer p{
		margin: 10px;
		font-size: 12px;

	}
	.icon-prod{
		max-width: 60px;
		max-height: 60px;
		position:relative;
		border-radius: 50%;
	}
	.prod-item{
		margin: 10px;
		font-size: 15px;
	  }
	.prod-desc{
		position: relative;
		margin: 10px;
		padding-left: 55px;
		font-size: 15px;
	}
	#img-aviso{
		max-width: 350px;
	}
	#messageInput{
		max-width: 70%;
	}
	.login-wrap {
		max-width: 420px;
		min-height: 400px;
	}
	.login-html {
		position: absolute;
		padding: 40px;
		background: rgba(40, 57, 101, 0.596);
	}
	.login-form {
		min-height: 300px;
		position: relative;
		perspective: 1000px;
		transform-style: preserve-3d;
	}
	.hr{

		margin: 10px;
	}
	.img-lg {
		position: relative;
		margin: 10px;
		box-sizing: border-box;
		width: 150px;
		height: 100px;
	}
	#icon-chat{
		font-size: 28px;
        bottom: 15px;
        right: 15px;
	}
}
/* ------------------------ Pagina Busca --------------------------- */
.result-card{
	margin: 5px;
	position: relative;
	width: 100%;
	border-color: #003366;
	border-style: solid;
	border-radius: 10px;
	text-decoration: none;
	font-size: 18px;
	color: #818181;
	transition: 0.3s;
}
.card-itens{
    border-radius: 10px;
    grid-column: 1 / 3; /* Ocupa a primeira coluna */
    grid-row: 2; /* Primeira linha */
    padding: 20px; /* Espaçamento interno */
    background-color: #f8f8f8; /* Fundo claro para destaque */
    box-shadow: 0 2px 4px rgba(0,0,0,0.1); /* Sombra para o card */
	max-height: auto;
}
.icon-card{
	max-width: 40px;
	max-height: 40px;
	position: relative;
	margin: 10px;
}
.card-text{
	margin: 5px;
	text-align: justify;
}
/*--------------------------------- Busca ---------------------------------*/
.container {
	min-height: 600px;
	max-width: 90%;
	background-color: white;
	box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
	border-radius: 10px;
}
.search-form {
	display: grid;
	gap: 15px;
}
.search-form label {
	font-size: 18px;
	color: #333;
}
.search-form input, .search-form select {
	width: 100%;
	padding: 8px;
	margin-top: 5px;
	border: 1px solid #ddd;
	border-radius: 5px;
}
.search-form .full-width {
	grid-column: span 2;
}
.search-form .checkbox-group {
	display: flex;
	align-items: center;
}
.search-form .checkbox-group input {
	margin-right: 10px;
}
.button-container {
	text-align: center;
	margin-top: 20px;
}
.button-container button {
	padding: 10px 30px;
	background-color: #2d6da3;
	color: white;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	font-size: 16px;
}
.button-container button:hover {
	background-color: #1e4f76;
}
#input-busca{
	border-color: #1e4f76;
	height: 50px;
}
#prop-form{
	display: none;
	transition: 0.5s;
}
#form-aplic{
	display: none;
	transition: 0.5s;
}
#prop-form-pu{
	display: none;
	transition: 0.5s;
}
#segmento-atuacao{
	height: 50px;
	font-size: 15px;
}

/* ------------------- Elementos Chat ------------------- */
.chat{
	grid-column: 1 / 3;
	width: 100%;
	min-height: 400px;
}
.chat p{
	font-size: 13px;
}
.chat-mensagens{
	height: 360px;
	overflow-y: auto;
	overflow-x: hidden;
	margin: 10px 0px;
}
#messageInput{
	width: 90%;
	height: 40px;
	border-radius: 8px;
	border: 1px solid gray;
}
#btn-enviar {
    height: 40px;
    background-color: #003366;
    color: white;
    border-radius: 8px;
}
.mensagem.enviada{
    background-color: aqua;
    margin-left: 70%;
    border-radius: 10px 10px 0 10px;
	max-width: 60%; /* Limita a largura das mensagens */
    word-wrap: break-word; /* Quebra palavras longas */
    box-sizing: border-box;
}
.mensagem.resposta{
    margin-right: 70%;
	margin: 10px 0;
    width: 200px;
    background-color: #b6afaf;
    border-radius: 10px 10px 10px 0px;
}
/* -------------------------------------- X --------------------------------------------------- */
/* @media screen and (prefers-color-scheme: dark) {
	
	.sidenav{
		color-scheme: dark;
	}
	
} */

/*--------------------- Nova Pagina de Busca ------------------------------*/
.conteudo{
	display: grid;
	grid-gap: 20px; /* Maior espaço entre os blocos */
	grid-template-columns: 2fr 1fr; /* Proporção melhorada para as colunas */
	grid-template-rows: auto; /* Ajusta a altura automaticamente */
	grid-template-columns: auto;
}
.filtro-busca{
	grid-column: 1;
	grid-row: 1;
	height: 500px;
	max-width: 300px;
	min-width: 300px;
	overflow-y: auto;
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: Arial, Helvetica, sans-serif;
}

body {
	background-color: #f0f0f0;
}

table {
	width: 100%;
	border-collapse: collapse;
	margin-top: 10px;
}

th, td {
	padding: 12px;
	text-align: center;
	border-bottom: 1px solid #ddd;
	width: 200px;
	max-width: 250px;
}

#tabela-dados td{
	padding: 12px;
	text-align: left;
	border-bottom: 1px solid #ddd;
	width: 200px;
	max-width: 250px;
}
tbody{
	overflow-y: auto;
}
th {
	background-color: #003366;
	color: white;
}

tr:hover {
	
	background-color: #f1f1f1;
	cursor: pointer;
	transition: 0.5s;
}

.no-data {
	text-align: center;
	padding: 20px;
	color: #666;
}
.conteudo-busca {
    grid-column: 2 / span 3;
    grid-row: 1;
    max-height: 500px;
    overflow-y: auto;
}
#produto {
	display: none;
	transition: 0.5s;
	height: 100px;
}  
#filtro-propriedades {
	display: none;
	transition: 0.5s;
}   

#tabela-cat {
	display: none;
	transition: 0.5s;
}

#tabela-silicone{
	display: none;
}

#filtro-propriedades-silicone {
	display: none;
	transition: 0.5s;
}  

#tabela-pigmento{
	display: none;
}

#filtro-propriedades-pigmento {
	display: none;
	transition: 0.5s;
} 

#segmento-atuacao option {
	background-color: aliceblue;
	color: black;
	margin: 10px;
	font-size: 15px;
}
.mps {
	width: 100%;
	border: solid;
}
#body {
	border: solid;
}
#tabela-row {
	border: 1px;
}
label, input{
	margin: 5px;
}
/*------------------- Matéria Prima --------------------*/
.mp-body {
	min-height: 600px;
    text-align: center;
    display: grid;
    grid-gap: 20px; /* Maior espaço entre os blocos */
    grid-template-columns: 1fr 1fr; /* Proporção melhorada para as colunas */
    grid-template-rows: auto; /* Ajusta a altura automaticamente */
    margin: 0px; /* Maior margem para espaçamento */
    width: 100%;
    height: auto; /* Deixa a altura automática, ajustando conforme o conteúdo */
    border-radius: 10px 10px 0 0;
    background-color: #ffffff;
    padding: 20px; /* Espaçamento interno para os itens */
    box-shadow: 0 4px 8px rgba(0,0,0,0.1); /* Sombra leve para dar profundidade */
}
.table-mp{

    grid-column: 1; 
    grid-row: 2/ 4; 
    padding: 0 20px; 
    background-color: #f8f8f8; 
    box-shadow: 0 2px 4px rgba(0,0,0,0.1); 
	max-height: 650px;
	overflow-y: auto;
}
.table-mp-user{
	grid-column: 1 / span 2; 
    grid-row: 2/ 4; 
    padding: 0 20px; 
    background-color: #f8f8f8; 
    box-shadow: 0 2px 4px rgba(0,0,0,0.1); 
	max-height: 650px;
	overflow-y: auto;
}
.table-mp table {
	border-collapse: collapse;
	width: 100%;
}

.table-mp thead {
	position: sticky; /* Faz o cabeçalho fixo */
	top: 0;
	background-color: #f9f9f9; /* Fundo para diferenciar */
	z-index: 1; /* Garante que o cabeçalho fique acima */
}

.table-mp th, .table-mp td {
	padding: 10px;
	border: 1px solid #ddd;
	text-align: center;
}
#barraPesquisa {
	background-image: url('/css/searchicon.png'); 
	background-position: 10px 12px; 
	background-repeat: no-repeat; 
	width: 100%; 
	height: 50px;
	font-size: 16px; 
	padding: 12px 20px 12px 40px; 
	border: 1px solid #ddd; 
	margin-bottom: 12px; 
  }
#dash-mp{

    border-radius: 10px;
    grid-column: 2; 
    grid-row: 2/ 4; 
    padding: 20px; 
    background-color: #f8f8f8; 
    box-shadow: 0 2px 4px rgba(0,0,0,0.1); 
	float: left;
}
.actions{

	grid-column: 1/ span 2; 
    grid-row: 1/ 2; 
    padding: 0 20px; 
    background-color: #f8f8f8; 
    box-shadow: 0 2px 4px rgba(0,0,0,0.1); 
	height: 60px;

}
#btn-mp{
	height: 50px;
	width: 200px;
	bottom: 25px;
	border-radius: 10px;
	background-color: #003366;
	color: white;
	font-size: 20px;
	float: inline-start;
}
#btn-mp2{

	float: inline-end;


}
/*-------------------------- Cards Amiso x Amipol ----------------------*/

.card-compare{
	margin: 10px;
	min-height: 500px;
	display: grid;
    grid-template-columns: 1fr 1fr; /* Proporção melhorada para as colunas */
    grid-template-rows: auto; /* Ajusta a altura automaticamente */
}
.card-header{
	text-align: center;
}
#card-A{

	grid-row: 2;
	grid-column: 1;
}
#card-B{

	grid-row: 2;
	grid-column: 2;
}
.card-compare h2{
	margin: 20px;
	grid-row: 1;
	grid-column: 1/ span 2;
}
